---
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Main from "@/components/Main.astro";
import Footer from "@/components/Footer.astro";
import { getUniqueSeries } from "@/utils/getSeries";
import { useTranslations } from "@/i18n";
import config from "@/config";

const posts = await getCollection("posts");
const allSeries = getUniqueSeries(posts);

const locale = Astro.currentLocale ?? config.site.lang;
const t = useTranslations(locale);
---

<Layout title={`${t.pages.seriessTitle} | ${config.site.title}`}>
  <Header />
  <Breadcrumb />
  <Main pageTitle={t.pages.seriessTitle} pageDesc={t.pages.seriessDesc}>
    {
      allSeries.length === 0 ? (
        <p class="text-muted-foreground">暂无文集。</p>
      ) : (
        <ul>
          {allSeries.map(({ series, count }) => (
            <li class="my-6">
              <a
                href={getRelativeLocaleUrl(locale, `series/${series}/`)}
                class:list={[
                  "text-accent inline-block text-lg font-medium",
                  "decoration-dashed underline-offset-4 hover:underline",
                  "focus-visible:no-underline focus-visible:underline-offset-0",
                ]}
              >
                <h2>{series}</h2>
              </a>
              <p class="text-muted-foreground text-sm">{count} 篇文章</p>
            </li>
          ))}
        </ul>
      )
    }
  </Main>
  <Footer />
</Layout>
